= form_for @feed, role: 'form', class: 'form-inline', remote: true  do |f|

  .row
    .offset-lg-2.col-lg-10
      .panel.panel-default
        .panel-body
          .form-group
            = f.label :title, "Titre"
            = f.text_field :title, class: 'form-control'
          .form-group
            = f.label :url, "URL"
            = f.url_field :url, class: 'form-control'

          .float-right
            = f.submit 'GO', class: 'btn btn-lg btn-primary', id: 'submit_feed'
            %div{id: "feed_form_errors"}
